nav {
    height: 72px;
    display: flex;
    background-color: #ffffff;
    align-items: center;
    justify-content: center;
    padding: 0 116px;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1); /* #TODO fix shadow visibility*/
}

nav > div {
    margin-right: 40px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo > img:nth-child(2) {
    width: 100px;
    height: 11px;
    margin-left: 12px;
}

.search {
    display: flex;
}

.search > button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 4px;
    background-color: #70C05B;
    gap: 8px;
    width: 140px;
    height: 40px;
    margin-right: 16px;
}

.search > button > img {
    margin-right: 20px;
}

input {
    box-sizing: border-box;
    width: 374px;
    height: 40px;
    border: 1px solid #70C05B;
    border-radius: 4px;
    padding: 8px 16px;
}

.input_container {
    position: relative;
    padding: 0;
    margin: 0;
}

.input_container > img {
    position: absolute;
    bottom: 8px;
    right: 8px;
    width: 24px;
    height: 24px;
}

.user_actions {
    display: flex;
    width: 446px;
}

.user_actions > button {
    display: flex;
    flex-direction: column;
    margin: 11px 24px 11px 0;
    align-items: center;
    gap: 8px;
    height: 50px;
    font-size: 12px;
}

.user_actions > button:nth-child(3) {
    position: relative;
}

.user_actions > button:nth-child(3) span:first-child {
    position: absolute;
    top: -4px;
    right: 18px;
    width: 11px;
    height: 11px;
    background-color: #FF6633;
    border-radius: 4px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 1px 1px 1px;
}

.user_actions > :nth-child(4) {
    flex-direction: row;
    font-size: inherit;
}

.user_actions > :nth-child(4) > img:first-child {
    margin: 16px 0 16px 16px;
}

.user_actions > :nth-child(4) > img:last-child {
    margin-left: 43px;
}