main {
    background-color: #FBF8EC;
    z-index: 999;
}

.delivery_discount {
    position: relative;
    height: 200px;
    display: flex;
    background-color: #fff;
    min-width: 100%;
    justify-content: center;
    align-items: center;
}

.delivery_discount::before {
    background-image: url(/static/img/main/delivery_background.png);
    content: '';
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.3;
}

.delivery_discount > img {
    z-index: 2
}

h1 {
    font-size: 48px;
    z-index: 999;
}

h2 {
    font-size: 36px;
    margin-block-start: 0;
    margin-block-end: 0;
}

section > div > button > span {
    color: #606060;
    margin-right: 16px;
}

section {
    max-width: 1208px;
    margin: auto;
}

section:not(:first-child) > div:first-child {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

article {
    background-color: #fff;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    max-width: 272px;
    border-radius: 4px;
    line-height: 150%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 8px;
}

article + .active {
    box-shadow: 4px 8px 16px rgba(255, 102, 51, 0.2);
}

.active div:nth-child(2) button {
    background-color: #FF6633;
    color: #fff;
    border: none;
}

section:not(:first-child) {
    margin-top: 120px;
    display: flex;
    flex-direction: column;
}

section > div {
    display: flex;
    justify-content: space-between;
}

section:not(:first-child) > div:first-child {
    width: 100%;
    padding-bottom: 40px;
}

section > div > button {
    display: flex;
    align-items: center;
}

.fav_button {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.fav_button::before {
    content: ' ';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    background-color: #F3F2F1;
    opacity: 0.5;
}

.product_body {
    height: 100%;
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product_footer button {
    font-size: 16px;
    justify-content: center;
    align-items: center;
    color: #70C05B;
    border: 1px solid #70C05B;
    border-radius: 4px;
    height: 40px;
}

.product_footer {
    display: flex;
    flex-direction: column;
    margin-top: 8px;
    gap: 8px;
    justify-content: center;
}

.product_footer > div {
    display: flex;
    gap: 4px;
}

.product_name_wrapper {
    display: inherit;
    flex-direction: column;
    justify-content: space-between;
}


.price-container {
    display: inherit;
    justify-content: space-between;
    min-height: 48px;
}

.price-container div:first-child p:first-child {
    font-weight: 700;
    font-size: 18px;
}

@media screen and (max-width: 769px) {

    section {
        max-width: 736px;
    }

    h1 {
        font-size: 24px;
    }

    .delivery_discount {
        height: 160px;
    }

    .delivery_discount img {
        width: 198px;
        height: 132px;
        align-self: end;
    }

    article:nth-child(n+4) {
        display: none;
    }

    article {
        max-width: 224px;
    }

    .product_image_wrapper img:first-child {
        max-width: 224px;
    }

    .product_name_wrapper span {
        display: none;
    }


}