.special_offers > div:nth-child(2) > article {
    flex-direction: row;
}

.special_offers > div:nth-child(2) > article div {
    display: flex;
    flex-direction: column;
    padding: 0;
}

.special_offers > div:nth-child(2) > article div:first-child {
    padding-left: 40px;
}

.special_offers > div:nth-child(2) > article:first-child {
    background-color: #FCD5BA;
}

.special_offers > div:nth-child(2) > article:last-child {
    background-color: #E5FFDE;
}

.special_offers > div:nth-child(2) > article h3 {
    font-size: 24px;
    line-height: 150%;
    margin-block-end: 0;
}

.special_offers > div:nth-child(2) > article p {
    font-size: 16px;
}

.special_offers > div:nth-child(2) > article:first-child div:nth-child(2) {
    padding: 30px 40px 30px 35px;
}

.special_offers > div:nth-child(2) > article:first-child img {
    width: 207px;
    height: 138px;
    border-radius: 10px;
    transform: rotate(13.87deg);
    filter: drop-shadow(0px 8px 47px rgba(200, 90, 53, 0.51));
}

.special_offers > div:nth-child(2) article:last-child div:last-child {
    position: relative;
    margin-left: 73px;
    margin-right: 42px;
}

.special_offers > div:nth-child(2) article:last-child div:last-child img:first-child {
    margin-top: 14px;
    z-index: 2;
}

.special_offers > div:nth-child(2) article:last-child div:last-child img:not(:first-child) {
    position: absolute;
    z-index: 1
}

.special_offers > div:nth-child(2) article:last-child div:last-child img:nth-child(2) {
    bottom: 22px;
    left: 12px;
}

.special_offers > div:nth-child(2) article:last-child div:last-child img:nth-child(3) {
    bottom: 21px;
    right: 14px
}

.special_offers > div:nth-child(2) article:last-child div:last-child img:nth-child(4) {
    top: 27px;
    right: -8px
}

.special_offers > div:nth-child(2) article:last-child div:last-child img:nth-child(5) {
    top: 14px;
    left: 12px
}

.special_offers > div:nth-child(2) article:last-child div:last-child img:nth-child(6) {
    bottom: 67px;
    left: -11px
}

.special_offers > div:nth-child(2) article:last-child div:last-child img:nth-child(7) {
    bottom: 16px;
    left: -310px
}

.special_offers > div:nth-child(2) article:last-child div:last-child img:nth-child(8) {
    bottom: 22px;
    left: -23px
}

.special_offers > div:nth-child(2) article:last-child div:last-child img:nth-child(9) {
    bottom: 16px;
    right: -25px
}

.special_offers > div:nth-child(2) article:last-child div:last-child img:nth-child(10) {
    top: 14px;
    right: -8px
}

.special_offers > div:nth-child(2) article:last-child div:last-child img:nth-child(11) {
    bottom: 21px;
    right: 64px
}

.special_offers > div:nth-child(2) article:last-child div:last-child img:nth-child(12) {
    top: 17px;
    left: -147px
}

.special_offers > div:nth-child(2) article:last-child div:last-child img:nth-child(13) {
    top: 48px;
    left: -23px
}

.special_offers > div:nth-child(2) article:last-child div:last-child img:nth-child(14) {
    bottom: 59px;
    right: -13px
}

.special_offers > div:nth-child(2) article:last-child div:last-child img:nth-child(15) {
    top: 17px;
    right: 70px
}