.special_offers article {
    gap: 0
}

.special_offers_wrapper > article {
    flex-direction: row;
    max-width: 584px;
}

.special_offers_wrapper > article div {
    display: flex;
    flex-direction: column;
}

.special_offers_text {
    padding-left: 40px;
    padding-top: 30px;
}

.card_offer {
    background-color: #FCD5BA;
    overflow: hidden;
}

.promotions_offer {
    background-color: #E5FFDE;
}

.special_offers_text h3 {
    font-size: 24px;
    line-height: 150%;
    margin-block-end: 0;
}

.special_offers_text p {
    font-size: 16px;
}

.card_offer_image {
    margin: 32px 45px 28px 30px;
}


.card_offer_image img{
    width: 207px;
    height: 138px;
    border-radius: 10px;
    transform: rotate(13.87deg);
    filter: drop-shadow(0px 8px 47px rgba(200, 90, 53, 0.51));
}

.promotions_offer {
    position: relative
}

.promotions_offer_image {
    margin-left: 51px;
    margin-right: 42px;
}

.promotions_offer_image img:first-child {
    margin-top: 14px;
    z-index: 2;
}

.promotions_offer_image img:not(:first-child) {
    position: absolute;
    z-index: 1
}

.promotions_offer_image img:nth-child(2) {
    width: 27px;
    height: 30px;
    bottom: 22px;
    right: 196px;
}

.promotions_offer_image img:nth-child(3) {
    width: 31px;
    height: 33px;
    bottom: 21px;
    right: 56px
}

.promotions_offer_image img:nth-child(4) {
    width: 50px;
    height: 52px;
    top: 27px;
    right: 34px
}

.promotions_offer_image img:nth-child(5) {
    width: 54px;
    height: 55px;
    top: 14px;
    right: 169px
}

.promotions_offer_image img:nth-child(6) {
    width: 33px;
    height: 31px;
    bottom: 67px;
    right: 213px
}

.promotions_offer_image img:nth-child(7) {
    width: 9px;
    height: 8px;
    bottom: 16px;
    left: 21px
}

.promotions_offer_image img:nth-child(8) {
    width: 12px;
    height: 11px;
    bottom: 22px;
    right: 258px
}

.promotions_offer_image img:nth-child(9) {
    width: 12px;
    height: 11px;
    bottom: 16px;
    right: 5px
}

.promotions_offer_image img:nth-child(10) {
    width: 12px;
    height: 11px;
    top: 14px;
    right: 34px
}

.promotions_offer_image img:nth-child(11) {
    width: 12px;
    height: 11px;
    bottom: 21px;
    right: 106px
}

.promotions_offer_image img:nth-child(12) {
    width: 12px;
    height: 11px;
    top: 17px;
    left: 178px
}

.promotions_offer_image img:nth-child(13) {
    width: 18px;
    height: 17px;
    top: 49px;
    right: 246px
}

.promotions_offer_image img:nth-child(14) {
    width: 40px;
    height: 39px;
    bottom: 59px;
    right: 29px
}

.promotions_offer_image img:nth-child(15) {
    width: 27px;
    height: 26px;
    top: 17px;
    right: 112px
}

@media screen and (max-width: 769px)  {

    .special_offers_wrapper > article {
        max-width: 352px;
    }

    .special_offers_text {
        padding-left: 20px;
        padding-top: 20px;
    }

    .special_offers_text > h3 {
        font-size: 18px
    }

    .special_offers_text > p {
        font-size: 12px;
    }

    .card_offer_image img{
        width: 165px;
        height: 110px;
    }

    .promotions_offer_image {
        margin-left: 20px;
        margin-right: 36px;
    }

    .promotions_offer_image img:first-child {
        width: 132px;
        height: 126px;
    }
}